/* For Tablets */
@media (max-width:1000px) and (min-width:440px) {
    .body {
        width: 100%;
    }

    .outputconsole {
        position: relative;
        top: 200px;
    }

    .calci {
        position: absolute;
        bottom: 0px;
    }

    input {
        height: 100px;
        font-size: 35px;
    }

    .symbol {
        font-size: 35px;
    }

    .outputconsole #result {
        font-size: 50px;
    }

}

/* For mobiles */
@media (max-width:440px) and (min-width: 0px) {
    .body {
        width: 100% !important;
    }

    .outputconsole {
        position: relative;
        top: 200px;
    }

    .outputconsole #result {
        font-size: 50px;
    }

    .calci {
        position: absolute;
        bottom: 0px;
    }

    input {
        padding: 0 10px;
        height: 80px;
        font-size: 35px;
    }

    .symbol {
        font-size: 35px;
    }

    .brace {
        padding: 0 10px;
    }

    .output {
        width: 100% !important;
    }

}